.container {
  overflow: hidden;
}

.sliding-background {
  background: url("LLloginbackground2.png") repeat-x center;
  background-size: cover;
  min-height: 100vh;
  height: 100vw;
  width: 5076px;
  animation: slide 60s linear infinite;
  position: relative;
}

.top-layer {
  background: rgba(0, 0, 0, 0.7);
  min-height: 100vh;
  color: white;
}

@keyframes slide {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-1500px, 0, 0);
  }
}

.title_login_card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  color: white;
  font-size: 5em;
  font-family: "Butterfly Kids", cursive;
  text-align: center;
}

.login_card {
  height: 500px;
  width: 300px;
  background: rgba(255, 255, 255, 0.04);
  box-shadow: -1px 4px 28px 0px rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  align-items: center;
}
